.room-display-wrapper{
    background-color:var(--color-skin);
    padding:10px;
    border-radius: 10px;
    border:1px solid black;
}
.room{
    height:var(--no-nav-height);
    overflow-y: auto;
}
.room::-webkit-scrollbar{
    width:5px;
}
.room::-webkit-scrollbar-thumb,
.room::-webkit-scrollbar-track{
    border-radius: var(--scroll-radius);
}
.room::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb);
}
.room::-webkit-scrollbar-track{
    background-color: var(--scroll-track);
}
.room-display-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.room-line{
    margin:10px 0px;
}
.room-title{
    font-size: 20px;
    font-weight: bold;
}
hr{
    margin: 5px 0;
}
.feature-list{
    display:flex;
    flex-direction: row;
}
.listing{
    display:flex;
    flex-direction: row;
}
.status-chart{
    text-align: center;
    display:flex;
    flex-direction: row;
}
.delete-btn{
    padding:10px 0px;
    text-align: right;
}