.control-wrapper{
    padding:10px;
}
.control{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:10px;
    height:150px;
    width:150px;
    border:1px solid black;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5), 0 -1px 0px rgba(0,0,0,0.02);
}
.control-icon{
    text-align: center;
    font-size: 40px;
}
.control-status{
    text-align: center;
}
.control-on{
    background-color: var(--status-on);
    color: var(--status-text-on);
}
.control-off{
    background-color: var(--status-off);
    color: var(--status-text-off);
}