:root{
    --scroll-thumb:rgb(117, 117, 117);
    --scroll-track:rgb(201, 201, 201);
    --scroll-radius:92px;
    --no-nav-height:calc(100vh - var(--nav-height));
    --nav-height:85px;
    --color-skin: rgb(255, 228, 214);
    --color-light-pink: rgb(250, 203, 234);
    --color-mid-pink:rgb(217, 136, 185);
    --color-dark-pink:rgb(176, 87, 141);
    --login-title: 15%;
    --status-off:rgb(243, 63, 63);
    --status-on: rgb(110, 235, 110);
    --status-text-off:white;
    --status-text-on:black;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.content{
    display:flex;
}
.left-side-bar{
    width:27.5%;
    min-height:var(--no-nav-height);
}
.right-side-bar{
    width:72.5%;
}
p{
    margin:0;
}